<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="Favicon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home: MediLink</title>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>
<h1>Welcome to Spring Boot + HTML + CSS + JS</h1>
<button class="btn">Click Me</button>

<script src="../static/scripts/index.js"></script>
</body>
</html>
