<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="../static/icons/Graphic%20Purple.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LogIn: MediLink</title>
    <link rel="stylesheet" href="../static/styles/login.css">
</head>
<body>
    <main>
        <div class="left-block">
            <h1>LOG IN</h1>
            <p class="field-title">Email</p>
            <input class="input-field" type="text" placeholder="Enter Your Email Address">
            <p class="field-title">Password</p>
            <input class="input-field" type="text" placeholder="Enter Your Password">
            <a><button>Log In</button></a>
            <div><a href="">Forgot Your Password?</a></div>
            <p class="sign-up-redirect">Don't Have An Account?</p>
            <a href="../templates/Sign-up_Web.html"><button>Sign Up</button></a>
        </div>
        <div class="right-block">
            <h1 class="image-text">Q-Response</h1>
            <img class="main-image" src="../static/icons/medic.png" alt="Logo">
            <h1 class="image-text">We Value Your Health</h1>
        </div>
    </main>
    <script src="../static/scripts/login.js"></script>
</body>
</html>
